{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>A propos</h1>
Le journal a été créé en avril 2019, le premier numéro a été publié en mai 2019. Depuis un numéro est publié chaque mois sans faute !<br>
Il s'agit du journal des étudiants de l'ENSC <br>
Email du journal : <a href="mailto:lejournal@ensc.fr">lejournal@ensc.fr </a> 
<div style="width:30%; margin-left: auto; margin-right: auto;">
    <img class="max-s-full" src="{%static '/icons/gazette_logo.jpg'%}" alt="LOGO" style="height: 100;width: 100px;">
    <img class="max-s-full" src="{%static '/icons/BDA_2019_2020.png'%}" alt="LOGO" style="height: 200px;width: 250px;">
    <img class="max-s-full" src="{%static '/icons/logo_ensc.png'%}" alt="LOGO" style="height: 250px;width: 300px;">
</div>
{% endblock %}