{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-body text-dark">
        <h3> Bienvenue sur le site de la Gazette du Cogniticien</h3>
      <p class="card-text">Vous pouvez retrouver ici tous les articles publiés dans les versions papiers</p>
    </div>
  </div>

{% if dernier_article %}
    <ul>
        
    {% for article in dernier_article %}
    <li>{{article.titre}} de {{article.auteur}}, {{article.numero}}
        <a href="{% url 'detail' article.id %}">en savoir plus</a></li>
    {% endfor %}
    
    </ul>
{% else %}
    <p>Pas d'articles nouveaux.</p>
{% endif %}



{% endblock %}