
@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto/Roboto-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto/Roboto-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto/Roboto-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Roboto-Black;
    src: url('../fonts/Roboto/Roboto-Black.ttf'); 
  }
  
  /*------------------------------------------------------------------
  [ 2 ]*/
  @font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RS PLUGIN ]*/
  
  /*------------------------------------------------------------------
  [ Bootstrap ]*/
  .container {max-width: 1080px;}
  
  /*//////////////////////////////////////////////////////////////////
  [ LOADDING ]*/
  .animsition-loading-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .loader05 {
    width: 56px;
    height: 56px;
    border: 4px solid #f2f5f5;
    border-radius: 50%;
    position: relative;
    animation: loader-scale 1s ease-out infinite;
    top: 50%;
    margin: -28px auto 0 auto; }
  
  @keyframes loader-scale {
    0% {
      transform: scale(0);
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      transform: scale(1);
      opacity: 0; } 
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ BUTTON BACK TO TOP ]*/
  .btn-back-to-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: -40px;
    right: 40px;
    background-color: rgb(15, 110, 219);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  .symbol-btn-back-to-top {
    font-size: 18px;
    color: white;
    line-height: 1em;
  }
  
  .btn-back-to-top:hover {
    opacity: 1;
  }
  
  @media (max-width: 575px) {
    .btn-back-to-top {
      bottom: 0px;
      right: 15px;
    }
  }
  
  .show-btn-back-to-top {bottom: 0;}
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Header ]*/
  
  /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  [ Header Desktop ]*/
  
  /*==================================================================
  [ Top-bar ]*/
  .topbar {
    background-color: #111;
  }
  
  .content-topbar {
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /*---------------------------------------------*/
  .left-topbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
    margin-right: -13px;
  }
  
  .left-topbar-item {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: rgb(253, 249, 249); /* à propos contact admin */
    line-height: 1.8;
    padding: 0 13px;
    position: relative;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  a.left-topbar-item:hover {
    color: #ffffff;
  }
  
  .left-topbar-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: rgb(20, 20, 20);
    opacity: 0.1;
    left: 0;
    top: calc(50% - 5px);
  }
  
  .left-topbar-item:first-child:before {
    display: none;
  }
  
  /*---------------------------------------------*/
  .right-topbar {
    margin-left: -4px;
    margin-right: -4px;
  }
  
  .right-topbar a {
    font-size: 18px;
    color: rgb(241, 243, 241); /* logo fb*/
    line-height: 1.5;
    margin: 0 4px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  .right-topbar a:hover {
    color: #eb5360; /* bouton fb fond*/
  }
  
  /*------------------------------------------------------------------
  [ Topbar mobile ]*/
  .topbar-mobile {
    background-color: #222;
    padding: 8px 25px 5px 25px;
  }
  
  .topbar-mobile li {
    padding: 5px 0;
  }
  
  .topbar-mobile .right-topbar,
  .topbar-mobile .left-topbar {
    justify-content: flex-start;
  }
  
  
  
  /*==================================================================
  [ Logo ]*/
  .wrap-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  
  /*---------------------------------------------*/
  .logo {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    max-height: 50%;
  }
  
  /*---------------------------------------------*/
  .banner-header {
    width: 70%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .banner-header img {
    max-width: 100%;
    max-height: 100%;
  }
  
  /*---------------------------------------------*/
  .wrap-logo.no-banner {
    justify-content: center;
  }
  
  .wrap-logo.no-banner .logo {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  /*---------------------------------------------*/
  .logo-stick {
    display: none;
    line-height: 0;
    margin-right: 15px;
  }
  
  .logo-stick img {
    max-width: 115px;
    max-height: 30px;
  }
  
  
  /*==================================================================
  [ Main nav ]*/
  .wrap-main-nav {
    width: 100%;
    height: 55px;
    z-index: 1000;
    position: relative;
  }
  
  .main-nav {
    width: 100%;
    height: 55px;
    background-color: rgb(14, 14, 14); /* fond barre menu*/
  
    box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
    -o-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
    -ms-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  
  .menu-desktop {
    max-width: calc(100% - 30px);
    width: 1050px;
    margin: 0 auto;
    height: 55px;
    position: relative;
  }
  
  .main-menu {
    list-style-type: none;
    margin: 0;
    height: 100%;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  
  .main-menu > li {
    height: 100%;
    position: relative;
  }
  
  .main-menu > li > a {
    font-family: Roboto-Medium;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(252, 250, 250); /* texte barre menu*/
    
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 0px;
    margin: 0 18px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  .main-menu > li > a::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 36px);
    height: 5px;
    bottom: 0;
    left: -18px;
    background-color: #faf9f9; 
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  
  .main-menu > li > a::after {
    content: "\f2f9";
    font-family: Material-Design-Iconic-Font;
    font-size: 16px;
    color: rgb(255, 255, 255); /*fleche menu*/
    line-height: 1.5;
    margin-left: 6px;
    margin-bottom: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  
  li.main-menu-active > a::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .main-menu > li > a:hover:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  @media (max-width: 1199px) {
    .main-menu > li > a {
      margin: 0 10px;
    }
  
    .main-menu > li > a::before {
      left: -10px;
      width: calc(100% + 20px);
    }
  }
  
  /*---------------------------------------------*/
  .sub-menu {
    list-style-type: none;
    position: absolute;
    top:0;
    left:100%;
    width: 225px;
    background-color: rgb(255, 255, 255);
    padding: 15px 0px 15px 0px;
  
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  
    visibility: hidden;
    opacity: 0; 
    
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  }
  
  .sub-menu li {
    position: relative;
    background-color: transparent;
  }
  
  .main-menu > li > .sub-menu {
    top:100%;
    left: 0px;
  }
  
  .main-menu > li.respon-sub-menu > .sub-menu {
    top:100%;
    left: auto;
    right: 0;
  }
  
  li.respon-sub-menu > .sub-menu .sub-menu {
    top:0;
    left: auto;
    right: 100%;
  }
  
  .sub-menu a {
    font-family: Roboto-Medium;
    font-size: 14px;
    line-height: 1.7857;
    color: rgb(10, 10, 10); /* texte sous barre rédaction menu*/
  
    display: block;
    padding: 8px 30px; 
    width: 100%;
  
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    .sub-menu {
      width: 190px;
    }
  
    .sub-menu a {
      padding: 8px 20px;
    }
  }
  
  
  /*---------------------------------------------*/
  .main-menu > li:hover > a:after {
    color: #8153eb; /* fleche du menu*/
  }
  
  .main-menu > li:hover > a {
    text-decoration: none;
    color: #8153eb; /* texte titre menu*/
  }
  
  .main-menu > li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  
  .sub-menu li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
  } 
  
  .sub-menu li:hover {
    background-color: transparent;
  }
  
  .sub-menu > li:hover > a {
    background-color: #6d6e6e;
    color: rgb(255, 253, 253);
    text-decoration: none;
  }
  
  /*------------------------------------------------------------------
  [ Mega menu ]*/
  .main-menu > li.mega-menu-item {
    position: static;
  }
  
  .sub-mega-menu {
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: none;
    
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  }
  
  .main-menu > li:hover > .sub-mega-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .sub-mega-menu .nav {
    width: 240px;
    border-right: 1px solid #f2f2f2;
    padding: 30px 0;
  }
  
  .sub-mega-menu .tab-content {
    width: calc(100% - 240px);
  }
  
  /*---------------------------------------------*/
  .sub-mega-menu .nav-pills .nav-link {
    font-family: Roboto-Medium;
    font-size: 14px;
    line-height: 1.8;
    color: rgb(8, 8, 8); /* texte barre sous menu */
    border-radius: 0;
    padding: 8px 20px 8px 33px;
  }
  
  .sub-mega-menu .nav-pills .nav-link.active, 
  .sub-mega-menu .show>.nav-pills .nav-link {
    color: rgb(233, 222, 222); /*texte surligné sous menu*/
    background-color: #6d6e6e; /*surlignement barre de menue*/
  }
  
  /*---------------------------------------------*/
  .sub-mega-menu .tab-content .tab-pane {
    padding: 25px 50px 35px 30px;
  }
  
  #jumbotron {
    margin-bottom: 0px;
    height: 300px;
    color: white; /* Le texte sera affiché en blanc */
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
    
    }
    #change{
    background-image: url("{%'assets/images/poulpe.png'%}");
    background-repeat:no-repeat;
    background-size:1800px 900px;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: top;
    border-radius: 10px;
    }
    
  